body {
  padding: 10px;
  font-family: sans-serif;
}

.task-form {
  margin-top: 1rem;
}

.task-list-item .delete-task-button {
  margin-left: 1rem;
}

.task-list-item .completed-task {
  text-decoration: line-through;
}
